{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    carts
{% endblock title %}
    
{% block content %}
<H1>i am tools </H1>

<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            
        {% for item in object_list %}
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p>Product/Service Name: {{ item.content_object.title }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price per Item: ${{ item.content_object.price }}</p>
      </div>
    </div>
  </div>
</div>
        {% empty %}
        <p>No lands found </p>
        {% endfor %}

        </div>
         <div class="col-md-4">
            <H1>i am sidebar</H1>
            <form action="" method="get">
              {% csrf_token %}
              {{filter.form|crispy}}
              <button type="submit">Filter</button>
            </form>
            <div class="card text-center">
  <div class="card-header">
    Categories
  </div>
  <div class="card-body">
    
    

  </div>
  
</div>




        </div>
    </div>
</div>

{% endblock content %}