{% extends 'base.html' %}

{% block title %}
    services
{% endblock title %}
    
{% block content %}
<H1>i am services </H1>

<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            
        {% for service in object_list %}
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{service.get_absolute_url}}">{{service.title}}</a> </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
        {% empty %}
        <p>No lands found </p>
        {% endfor %}

        </div>
        <div class="col-md-4">
            <H1>i am sidebar</H1>
        </div>
    </div>
</div>

{% endblock content %}