{% extends 'base.html' %}

{% block title %}
    Tool Details
{% endblock title %}
    
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
 <h1> iam details </h1>
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Title :: {{tool.title}}</h5>
    <p class="card-text"><small class="text-muted">created::{{tool.created}} </small></p>
   
    <p class="card-text">Owner: <a href="{% url 'users-tools' tool.user.username %}">{{tool.user}}</a>  </p>
        <p class="card-text">category{{tool.category}} </p>
    <p class="card-text"> Location: {{tool.location}}</p>
    <p class="card-text">Tags :
    {% for tag in tool.tags.all %}
      <a href="">{{tag.name}}</a>  ,
    {% endfor %}
   </p>
   {% comment %} {{tool.tags}} {% endcomment %}
    <p class="card-text"> <a href="{% url 'tool-category' tool.category.slug %}">{{tool.category}}</a> </p>
    <p class="card-text">price :{{tool.price}} </p>
    <p class="card-text">period:{{tool.period}} </p>
    <p class="card-text">county:{{tool.county}} </p>
    <p class="card-text">sub county :{{tool.sub_county}} </p>
    <p class="card-text"> sub location{{tool.sub_location}}</p>
    <p class="card-text">village: {{tool.village}}</p>
    <p class="card-text">descrition: {{tool.description}}</p>

    <p class="card-text"> Ceated: {{tool.created}}</p>

  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>
<a href="{% url 'tool-update' tool.slug %}" class="btn btn-primary">Update tool </a>
<a href="{% url 'tool-delete' tool.slug %}" class="btn btn-danger">Delete tool</a>
<a href="{% url 'tool-bookmark' tool.slug %}" class="btn btn-secondary">Bookmark land</a>
{% comment %} <a href="{% url 'add-coordinates' land.slug %}" class="btn btn-success">Add Coordinates</a> {% endcomment %}
    </div>
    <div class="col-md-4">
<h1>sidebar</h1>

{% for similar_tool in similar_tools %}
<p>title : {{similar_tool.title}} </p>
<p> category {{similar_tool.category}}</p>
{% empty %}
no similar
{% endfor %}

    </div>
  </div>
</div>




   
{% endblock content %}
    