{% extends 'base.html' %}

{% block title %}
    Lands Details
{% endblock title %}
    
{% block content %}
    <h1> iam details </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{produce.title}}</h5>
    <p class="card-text"><small class="text-muted">{{produce.created}}</small></p>
    {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
    <p class="card-text">User: <a href="{% url 'user-produce' produce.user.username %}">{{produce.user}}</a>  </p>
    <p class="card-text">Category: <a href="{% url 'produce-category' produce.category.slug %}">{{produce.category}}</a></p>
    <p class="card-text">Tags:
      {% for tag in produce.tags.all %}
      <a href="{% url 'produce-tag' tag.slug %}" class="href">{{tag.name}}</a>
      {% endfor %}
      </p>
    <p class="card-text"> Growth way: {{produce.growth_way}}</p>
    <p class="card-text">Describe growth :{{produce.organic_description}} </p>
    <p class="card-text">  </p>
    <p class="card-text">Control growth :{{produce.control_growth}} </p>
    {% comment %} <p class="card-text">Previous Farming:{{land.previous_farming}} </p> {% endcomment %}
    <p class="card-text">Growth period:{{produce.growth.period}} </p>
    <p class="card-text">growth_fertilizer :{{produce.growth_fertilizer}} </p>
    <p class="card-text"> growth_pestcides:{{produce.growth_pestcides }}</p>
    

  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>
<a href="{% url 'update-produce' produce.slug %}" class="btn btn-primary">Update Produce </a>
<a href="{% url 'delete-produce' produce.slug %}" class="btn btn-danger">Delete Produce</a>
<a href="{% url 'bookmark' produce.slug %}" class="btn btn-secondary">Bookmark </a>
{% comment %} <a href="{% url 'add-coordinates' land.slug %}" class="btn btn-success">Add Coordinates</a> {% endcomment %}
{% comment %} <a href="{% url 'add-cart' content_type_id=content_type.id object_id=land.id %}" class="btn btn-success">Add to Cart</a> {% endcomment %}
        </div>
        <div class="col-md-4">
<h1>sidebar</h1>
{% for similar_land in similar_lands %}
<p>title: {{similar_land.title}} </p>
<p>category : {{similar_land.category}}</p>
{% empty %}
<p>no similar land</p>
{% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}
    