{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Lands
{% endblock title %}
    
{% block content %}
<!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Blog Grid Sidebar</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Blog Grid Sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
    <section class="section land-grid-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                      {% for land in object_list %}
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single land Grid -->
                            <div class="single-land-grid">
                                <div class="land-img">
                                    <a href="land-single.html">
                                      {% for image in land.land_images.all %}
                                        <img src="{{image.images.url}}" alt="{{land.title | truncatechars:5}}">
                                      {% endfor %}
                                    </a>
                                </div>
                                <div class="land-content">
                                    <a class="category" href="javascript:void(0)">{{land.category}}</a>
                                    
                                    <h4>
                                        <a href="{{land.get_absolute_url}}">{{land.title}}</a>
                                    </h4>
                                    <p><i class="lni lni-map-marker"></i> {{land.county}}, {{land.sub_county}}</p>
                                    <p>Size : {{land.size}} {{land.size_units}}</p>
                                    <p>ksh {{land.charge}} for {{land.period_lease}}</p>
                                     
         
                                      
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% empty %}
                         <div class="col-lg-6 col-md-6 col-12">
                            
                            <div class="single-land-grid">
                                 <p>No lands found</p>                              
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>

                      {% endfor %}
                        
                    </div>
                    <!-- Pagination -->
                    <div class="pagination left">
                        <ul class="pagination-list">
                            <li><a href="javascript:void(0)">Prev</a></li>
                            <li class="active"><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">Next</a></li>
                        </ul>
                    </div>
                    <!--/ End Pagination -->
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar">
                        
                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title">Popular Feeds</h5>
                            <div class="popular-feed-loop">
                                <form action="{% url 'land-filter' %}" method="get">
              {% csrf_token %}
              {{filter.form|crispy}}
              <button type="submit">Filter</button>
            </form>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget categories-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="custom">
                                {% for category in categories %}                        
                                
                                <li>
                                    <a href="{% url 'land-category' category.slug %}">{{category.type}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title">Tags</h5>
                            <div class="tags">
                                {% for tag in popular_tags %} 
                                   <a href="{% url 'land-tag' tag.slug %}">{{tag.num_lands}}  {{tag.name}}</a>
                                {% endfor %}
                               
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Blog Grid -->

<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            
        {% for land in object_list %}
           
        {% empty %}
        <p>No lands found </p>
        {% endfor %}

        </div>
        
    </div>
</div>



{% endblock content %}