{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Lands
{% endblock title %}
    
{% block content %}
<H1>i am lands </H1>

<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            
        {% for land in object_list %}
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{land.get_absolute_url}}">{{land.title}}</a> </h5>
        <p class="card-text">Size : <small class="text-muted">{{land.size}} {{land.size_units}}</small></p>
         <p class="card-text">Location : <small class="text-muted">{{land.county}} {{land.sub_county}} {{land.location}} {{land.sub_location}} {{land.village}}</small></p>
         <p class="card-text">Charge : <small class="text-muted">ksh {{land.charge}} for {{land.period_lease}}</small></p>
        <p class="card-text"><small class="text-muted">{{land.created}}</small></p>
      </div>
    </div>
  </div>
</div>
        {% empty %}
        <p>No lands found </p>
        {% endfor %}

        </div>
        <div class="col-md-4">
            <H1>i am sidebar</H1>
            <form action="{% url 'land-filter' %}" method="get">
              {% csrf_token %}
              {{filter.form|crispy}}
              <button type="submit">Filter</button>
            </form>
            <div class="card text-center">
  <div class="card-header">
    Categories
  </div>
  <div class="card-body">
    
    {% for category in categories %}
    <a href="{% url 'land-category' category.slug %}"><span class="badge text-bg-secondary">   {{category.type}} </span></a>
    {% empty %}
    no category
    {% endfor %}
    

  </div>
  
</div>

<div class="card text-center">
  <div class="card-header">
    Tags
  </div>
  <div class="card-body">
    {% for tag in tags %}
    <a href="{% url 'land-tag' tag.slug %}" class="href">
<span class="badge text-bg-secondary">{{tag.name}}</span>
    </a>
    {% endfor %}
    
    

  </div>
  
</div>
<div class="card text-center">
  <div class="card-header">
    Popular Tags
  </div>
  <div class="card-body">
    {% for tag in popular_tags %}
    <a href="{% url 'land-tag' tag.slug %}" class="href">{{tag.num_lands}} 
<span class="badge text-bg-secondary">{{tag.name}}</span>
    </a>
    {% endfor %}
    
    

  </div>
  
</div>
        </div>
    </div>
</div>



{% endblock content %}