{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Lands
{% endblock title %}
    
{% block content %}
<H1>i am lands </H1>

<div class="container"> 
    <div class="row">
        <div class="col-md-8">
            
        {% for land in lands %}
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{land.get_absolute_url}}">{{land.title}}</a> </h5>
        <p class="card-text">Size : <small class="text-muted">{{land.size}} {{land.size_units}}</small></p>
         <p class="card-text">Location : <small class="text-muted">{{land.county}} {{land.sub_county}} {{land.location}} {{land.sub_location}} {{land.village}}</small></p>
         <p class="card-text">Charge : <small class="text-muted">ksh {{land.charge}} for {{land.period_lease}}</small></p>
        <p class="card-text"><small class="text-muted">{{land.created}}</small></p>
      </div>
    </div>
  </div>
</div>
        {% empty %}
        <p>No lands found </p>
        {% endfor %}

        </div>
        <div class="col-md-4">
            <H1>i am sidebar</H1>
            <form action="{% url 'land-filter' %}" method="get">
              {% csrf_token %}
              {{filter.form|crispy}}
              <button type="submit">Filter</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}